In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('dataset/netflix_users.csv')

In [8]:
df.head(10)

,User_ID,Name,Age,Country,Subscription_Type,Watch_Time_Hours,Favorite_Genre,Last_Login
0,1,James Martinez,18,France,Premium,80.26,Drama,2024-05-12
1,2,John Miller,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,Emma Davis,60,UK,Basic,35.89,Comedy,2025-01-24
3,4,Emma Miller,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,Jane Smith,68,USA,Standard,909.30,Drama,2025-01-14
5,6,David Johnson,21,USA,Standard,615.93,Romance,2025-02-03
6,7,John Hernandez,57,Canada,Standard,755.47,Romance,2025-01-05
7,8,Katie Hernandez,68,USA,Standard,145.23,Sci-Fi,2024-10-30
8,9,James Williams,39,UK,Basic,950.14,Action,2024-04-16
9,10,Alex Davis,55,Mexico,Standard,696.66,Horror,2024-07-03

In [10]:
df.tail(10)

,User_ID,Name,Age,Country,Subscription_Type,Watch_Time_Hours,Favorite_Genre,Last_Login
24990,24991,Chris Miller,52,Brazil,Basic,476.63,Horror,2024-05-25
24991,24992,Sarah Williams,43,Germany,Standard,361.23,Sci-Fi,2025-01-26
24992,24993,James Brown,47,India,Standard,411.40,Documentary,2024-03-15
24993,24994,Alex Martinez,22,Brazil,Basic,486.92,Documentary,2024-06-18
24994,24995,Jane Miller,76,USA,Standard,47.74,Horror,2024-08-14
24995,24996,David Miller,18,Australia,Premium,183.88,Horror,2025-01-18
24996,24997,Jane Miller,17,USA,Premium,112.37,Drama,2024-06-29
24997,24998,Sarah Miller,14,USA,Premium,351.80,Action,2024-10-16
24998,24999,Michael Williams,71,USA,Basic,655.89,Action,2024-08-27
24999,25000,James Jones,19,Germany,Premium,207.06,Documentary,2024-04-12

In [12]:
#Visualizando a estrutura do dataset
df.shape

(25000, 8)

In [14]:
#Verificando a possibilidade de valores nulos
df.isnull().sum()

User_ID              0
Name                 0
Age                  0
Country              0
Subscription_Type    0
Watch_Time_Hours     0
Favorite_Genre       0
Last_Login           0
dtype: int64

In [16]:
df.head(10)

,User_ID,Name,Age,Country,Subscription_Type,Watch_Time_Hours,Favorite_Genre,Last_Login
0,1,James Martinez,18,France,Premium,80.26,Drama,2024-05-12
1,2,John Miller,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,Emma Davis,60,UK,Basic,35.89,Comedy,2025-01-24
3,4,Emma Miller,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,Jane Smith,68,USA,Standard,909.30,Drama,2025-01-14
5,6,David Johnson,21,USA,Standard,615.93,Romance,2025-02-03
6,7,John Hernandez,57,Canada,Standard,755.47,Romance,2025-01-05
7,8,Katie Hernandez,68,USA,Standard,145.23,Sci-Fi,2024-10-30
8,9,James Williams,39,UK,Basic,950.14,Action,2024-04-16
9,10,Alex Davis,55,Mexico,Standard,696.66,Horror,2024-07-03

In [18]:
#Alterando o nome dos rótulos
df.rename(columns={"User_ID":"ID_Usuário", "Name":"Nome","Country":"País", "Age":"Idade", "Subscription_Type":"Assinaturas",
                   "Watch_Time_Hours":"Tempo_assistido", "Favorite_Genre":"Genero_favorito", "Last_Login":"Ultimo_Login"}, inplace=True)

In [20]:
df.head(10)

,ID_Usuário,Nome,Idade,País,Assinaturas,Tempo_assistido,Genero_favorito,Ultimo_Login
0,1,James Martinez,18,France,Premium,80.26,Drama,2024-05-12
1,2,John Miller,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,Emma Davis,60,UK,Basic,35.89,Comedy,2025-01-24
3,4,Emma Miller,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,Jane Smith,68,USA,Standard,909.30,Drama,2025-01-14
5,6,David Johnson,21,USA,Standard,615.93,Romance,2025-02-03
6,7,John Hernandez,57,Canada,Standard,755.47,Romance,2025-01-05
7,8,Katie Hernandez,68,USA,Standard,145.23,Sci-Fi,2024-10-30
8,9,James Williams,39,UK,Basic,950.14,Action,2024-04-16
9,10,Alex Davis,55,Mexico,Standard,696.66,Horror,2024-07-03

In [28]:
#Alterando o nome das categorias 
df["Assinaturas"].replace({"Basic":"Basico", "Standard":"Padrao"}, inplace=True)

In [30]:
df

,ID_Usuário,Nome,Idade,País,Assinaturas,Tempo_assistido,Genero_favorito,Ultimo_Login
0,1,James Martinez,18,France,Premium,80.26,Drama,2024-05-12
1,2,John Miller,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,Emma Davis,60,UK,Basico,35.89,Comedy,2025-01-24
3,4,Emma Miller,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,Jane Smith,68,USA,Padrao,909.30,Drama,2025-01-14
...,...,...,...,...,...,...,...,...
24995,24996,David Miller,18,Australia,Premium,183.88,Horror,2025-01-18
24996,24997,Jane Miller,17,USA,Premium,112.37,Drama,2024-06-29
24997,24998,Sarah Miller,14,USA,Premium,351.80,Action,2024-10-16
24998,24999,Michael Williams,71,USA,Basico,655.89,Action,2024-08-27
24999,25000,James Jones,19,Germany,Premium,207.06,Documentary,2024-04-12

In [32]:
df.drop(axis=0, columns="Nome", inplace=True)

In [34]:
df

,ID_Usuário,Idade,País,Assinaturas,Tempo_assistido,Genero_favorito,Ultimo_Login
0,1,18,France,Premium,80.26,Drama,2024-05-12
1,2,23,USA,Premium,321.75,Sci-Fi,2025-02-05
2,3,60,UK,Basico,35.89,Comedy,2025-01-24
3,4,44,USA,Premium,261.56,Documentary,2024-03-25
4,5,68,USA,Padrao,909.30,Drama,2025-01-14
...,...,...,...,...,...,...,...
24995,24996,18,Australia,Premium,183.88,Horror,2025-01-18
24996,24997,17,USA,Premium,112.37,Drama,2024-06-29
24997,24998,14,USA,Premium,351.80,Action,2024-10-16
24998,24999,71,USA,Basico,655.89,Action,2024-08-27
24999,25000,19,Germany,Premium,207.06,Documentary,2024-04-12

In [49]:
#aplicação a padronização de datas para o campo Ultimo Login
df['Ultimo_Login'] = pd.to_datetime(df["Ultimo_Login"], yearfirst=True, errors="coerce")

In [51]:
df.dtypes

ID_Usuário                  int64
Idade                       int64
País                       object
Assinaturas                object
Tempo_assistido           float64
Genero_favorito            object
Ultimo_Login       datetime64[ns]
dtype: object

In [53]:
df["Genero_favorito"]

0              Drama
1             Sci-Fi
2             Comedy
3        Documentary
4              Drama
            ...
24995         Horror
24996          Drama
24997         Action
24998         Action
24999    Documentary
Name: Genero_favorito, Length: 25000, dtype: object

In [58]:
#alterando as categorias para a coluna genero favorito 
df["Genero_favorito"].replace({"Action":"Acao", "Documentary":"Documentario", "Sci-Fi":"Ficcao cientifica", "Comedy":"Comedia"}, regex=True, inplace=True)

In [60]:
df["Genero_favorito"]

0                    Drama
1        Ficcao cientifica
2                  Comedia
3             Documentario
4                    Drama
               ...
24995               Horror
24996                Drama
24997                 Acao
24998                 Acao
24999         Documentario
Name: Genero_favorito, Length: 25000, dtype: object

In [62]:
#Salvando dataset modificado

df = df.to_csv('netflix_user_v1.csv', index=False)