In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('Social_MediaV2.csv')

In [4]:
df.head(5)

,ID_Cliente,Idade,Genero,Ganho_Anual (USD),Renda_Mensal,Nivel_de_educacao,Tempo_de_Uso (Horas/Dias),Redes_Sociais,Nivel_de_Influencia,Decisao_de_Compra,Categoria_do_Produto,Produto,Total_Gasto (USD),Nome_da_Marca,Cidade
0,1,28,Feminino,45000,3750.00,Bacharelado,2.5,"Instagram, Twitter",Muito Influenciavel,Sim,Fashion,Dress,200,"Nike, Zara",New York
1,2,35,Masculino,60000,5000.00,Mestrado,1.8,"Facebook, Instagram",Alguma Influencia,Sim,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles
2,4,40,Masculino,75000,6250.00,Doutorado,3.2,"Facebook, LinkedIn",Muito Influenciavel,Sim,Food,Burger,50,McDonald's,Houston
3,5,29,Feminino,55000,4583.33,Bacharelado,2.0,"Instagram, TikTok",Alguma Influencia,Sim,Beauty,Makeup,100,Sephora,Miami
4,6,45,Masculino,80000,6666.67,Bacharelado,3.5,"Twitter, LinkedIn",Muito Influenciavel,Sim,Electronics,TV,600,Samsung,San Francisco

In [8]:
df['Z-score'] = stats.zscore(df['Renda_Mensal'])

In [10]:
df.head(5)

,ID_Cliente,Idade,Genero,Ganho_Anual (USD),Renda_Mensal,Nivel_de_educacao,Tempo_de_Uso (Horas/Dias),Redes_Sociais,Nivel_de_Influencia,Decisao_de_Compra,Categoria_do_Produto,Produto,Total_Gasto (USD),Nome_da_Marca,Cidade,Z-score
0,1,28,Feminino,45000,3750.00,Bacharelado,2.5,"Instagram, Twitter",Muito Influenciavel,Sim,Fashion,Dress,200,"Nike, Zara",New York,-1.262495
1,2,35,Masculino,60000,5000.00,Mestrado,1.8,"Facebook, Instagram",Alguma Influencia,Sim,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles,0.533348
2,4,40,Masculino,75000,6250.00,Doutorado,3.2,"Facebook, LinkedIn",Muito Influenciavel,Sim,Food,Burger,50,McDonald's,Houston,2.329190
3,5,29,Feminino,55000,4583.33,Bacharelado,2.0,"Instagram, TikTok",Alguma Influencia,Sim,Beauty,Makeup,100,Sephora,Miami,-0.065271
4,6,45,Masculino,80000,6666.67,Bacharelado,3.5,"Twitter, LinkedIn",Muito Influenciavel,Sim,Electronics,TV,600,Samsung,San Francisco,2.927809

In [12]:
df.loc[(df['Z-score'] > -2) & (df['Z-score'] > 2) ]

,ID_Cliente,Idade,Genero,Ganho_Anual (USD),Renda_Mensal,Nivel_de_educacao,Tempo_de_Uso (Horas/Dias),Redes_Sociais,Nivel_de_Influencia,Decisao_de_Compra,Categoria_do_Produto,Produto,Total_Gasto (USD),Nome_da_Marca,Cidade,Z-score
2,4,40,Masculino,75000,6250.00,Doutorado,3.2,"Facebook, LinkedIn",Muito Influenciavel,Sim,Food,Burger,50,McDonald's,Houston,2.329190
4,6,45,Masculino,80000,6666.67,Bacharelado,3.5,"Twitter, LinkedIn",Muito Influenciavel,Sim,Electronics,TV,600,Samsung,San Francisco,2.927809
31,33,40,Masculino,78000,6500.00,Mestrado,2.2,"Twitter, LinkedIn",Alguma Influencia,Sim,Fitness,Treadmill,1200,"NordicTrack, Peloton",Houston,2.688359

In [14]:
len(df.loc[df['Genero'] == "Feminino"])

149

In [16]:
len(df.loc[df['Genero'] == "Masculino"])

150

In [18]:
df.shape

(299, 16)

In [20]:
df[df['Genero'] == "Masculino"]['Renda_Mensal'].mean().round(2)

4993.33

In [22]:
df[df['Genero'] == "Feminino"]['Renda_Mensal'].mean().round(2)

4261.74

In [24]:
df['Renda_Mensal'].head(25)

0     3750.00
1     5000.00
2     6250.00
3     4583.33
4     6666.67
5     4833.33
6     3333.33
7     5166.67
8     4000.00
9     5833.33
10    3000.00
11    4666.67
12    4000.00
13    4250.00
14    5833.33
15    4583.33
16    5666.67
17    5166.67
18    3500.00
19    4833.33
20    5166.67
21    4000.00
22    4333.33
23    6000.00
24    4583.33
Name: Renda_Mensal, dtype: float64

In [118]:
len(df.loc[(df['Renda_Mensal'] >= 3000) & (df['Renda_Mensal'] < 4250)])

71

In [128]:
len(df.loc[(df['Renda_Mensal'] >= 4250) & (df['Renda_Mensal'] < 4583)])

76

In [126]:
len(df.loc[(df['Renda_Mensal'] >= 4583) & (df['Renda_Mensal'] < 5166)])

65

In [130]:
len(df.loc[(df['Renda_Mensal'] >= 5166) & (df['Renda_Mensal'] <= 6667)])

87

In [36]:
df['Renda_Mensal'].max()

6666.67

In [53]:
df['Variancia_Renda'] = df['Renda_Mensal'].var()

In [57]:
df.head(15)

,ID_Cliente,Idade,Genero,Ganho_Anual (USD),Renda_Mensal,Nivel_de_educacao,Tempo_de_Uso (Horas/Dias),Redes_Sociais,Nivel_de_Influencia,Decisao_de_Compra,Categoria_do_Produto,Produto,Total_Gasto (USD),Nome_da_Marca,Cidade,Z-score,Variancia_Renda
0,1,28,Feminino,45000,3750.00,Bacharelado,2.5,"Instagram, Twitter",Muito Influenciavel,Sim,Fashion,Dress,200,"Nike, Zara",New York,-1.262495,486114.406018
1,2,35,Masculino,60000,5000.00,Mestrado,1.8,"Facebook, Instagram",Alguma Influencia,Sim,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles,0.533348,486114.406018
2,4,40,Masculino,75000,6250.00,Doutorado,3.2,"Facebook, LinkedIn",Muito Influenciavel,Sim,Food,Burger,50,McDonald's,Houston,2.329190,486114.406018
3,5,29,Feminino,55000,4583.33,Bacharelado,2.0,"Instagram, TikTok",Alguma Influencia,Sim,Beauty,Makeup,100,Sephora,Miami,-0.065271,486114.406018
4,6,45,Masculino,80000,6666.67,Bacharelado,3.5,"Twitter, LinkedIn",Muito Influenciavel,Sim,Electronics,TV,600,Samsung,San Francisco,2.927809,486114.406018
5,7,32,Feminino,58000,4833.33,Mestrado,2.2,"Instagram, Facebook",Alguma Influencia,Sim,Home Decor,Sofa,300,IKEA,Seattle,0.293897,486114.406018
6,8,25,Feminino,40000,3333.33,Bacharelado,3.0,"TikTok, Instagram",Alguma Influencia,Sim,Fashion,Shoes,150,H&M,Atlanta,-1.861113,486114.406018
7,9,30,Masculino,62000,5166.67,Bacharelado,2.8,"Facebook, Twitter",Muito Influenciavel,Sim,Electronics,Laptop,750,Sony,Miami,0.772798,486114.406018
8,10,27,Feminino,48000,4000.00,Mestrado,2.7,"Instagram, TikTok",Muito Influenciavel,Sim,Beauty,Skincare,120,MAC Cosmetics,Los Angeles,-0.903326,486114.406018
9,11,38,Feminino,70000,5833.33,Doutorado,2.0,"LinkedIn, Twitter",Alguma Influencia,Sim,Fitness,Running Shoes,250,"Nike, Adidas",San Diego,1.730571,486114.406018
10,12,24,Masculino,36000,3000.00,Ensino Medio,5.0,"Snapchat, Instagram",Nao Influenciavel,Nao,N/D,N/D,0,N/D,Boston,-2.340000,486114.406018
11,13,31,Feminino,56000,4666.67,Bacharelado,2.3,"Facebook, TikTok",Alguma Influencia,Sim,Home Decor,Bedding,180,"IKEA, Target",Phoenix,0.054461,486114.406018
12,14,26,Masculino,48000,4000.00,Mestrado,2.2,"Instagram, Twitter",Muito Influenciavel,Sim,Fashion,T-shirt,130,"Zara, H&M",Denver,-0.903326,486114.406018
13,15,29,Feminino,51000,4250.00,Bacharelado,3.8,"TikTok, Snapchat",Muito Influenciavel,Sim,Beauty,Lipstick,90,"Sephora, L'Oréal",Chicago,-0.544158,486114.406018
14,16,34,Masculino,70000,5833.33,Bacharelado,2.5,"Facebook, Instagram",Alguma Influencia,Sim,Electronics,Tablet,700,"Apple, Microsoft",New York,1.730571,486114.406018

In [59]:
df.describe()

,ID_Cliente,Idade,Ganho_Anual (USD),Renda_Mensal,Tempo_de_Uso (Horas/Dias),Total_Gasto (USD),Z-score,Variancia_Renda
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,2.990000e+02,2.990000e+02
mean,150.993311,29.508361,55545.150502,4628.762040,2.719732,184.347826,-9.505588e-16,4.861144e+05
std,86.469648,3.275252,8366.628435,697.219052,0.435403,261.742341,1.001676e+00,8.745786e-10
min,1.000000,23.000000,36000.000000,3000.000000,1.800000,0.000000,-2.340000e+00,4.861144e+05
25%,76.500000,27.000000,51000.000000,4250.000000,2.450000,30.000000,-5.441576e-01,4.861144e+05
50%,151.000000,29.000000,55000.000000,4583.330000,2.700000,70.000000,-6.527103e-02,4.861144e+05
75%,225.500000,32.000000,62000.000000,5166.670000,2.900000,200.000000,7.727984e-01,4.861144e+05
max,300.000000,45.000000,80000.000000,6666.670000,5.000000,1200.000000,2.927809e+00,4.861144e+05

In [90]:
df['Variancia_Renda'] = df['Variancia_Renda'].round(2)

In [98]:
df['Desvio Padrao'] =  df['Renda_Mensal'].std()

In [102]:
df['Desvio Padrao'] =  df['Desvio Padrao'].round(2)

In [104]:
df

,ID_Cliente,Idade,Genero,Ganho_Anual (USD),Renda_Mensal,Nivel_de_educacao,Tempo_de_Uso (Horas/Dias),Redes_Sociais,Nivel_de_Influencia,Decisao_de_Compra,Categoria_do_Produto,Produto,Total_Gasto (USD),Nome_da_Marca,Cidade,Z-score,Variancia_Renda,Desvio Padrao
0,1,28,Feminino,45000,3750.00,Bacharelado,2.5,"Instagram, Twitter",Muito Influenciavel,Sim,Fashion,Dress,200,"Nike, Zara",New York,-1.262495,486114.41,697.22
1,2,35,Masculino,60000,5000.00,Mestrado,1.8,"Facebook, Instagram",Alguma Influencia,Sim,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles,0.533348,486114.41,697.22
2,4,40,Masculino,75000,6250.00,Doutorado,3.2,"Facebook, LinkedIn",Muito Influenciavel,Sim,Food,Burger,50,McDonald's,Houston,2.329190,486114.41,697.22
3,5,29,Feminino,55000,4583.33,Bacharelado,2.0,"Instagram, TikTok",Alguma Influencia,Sim,Beauty,Makeup,100,Sephora,Miami,-0.065271,486114.41,697.22
4,6,45,Masculino,80000,6666.67,Bacharelado,3.5,"Twitter, LinkedIn",Muito Influenciavel,Sim,Electronics,TV,600,Samsung,San Francisco,2.927809,486114.41,697.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,296,25,Feminino,44000,3666.67,Bacharelado,2.3,"Snapchat, Instagram",Alguma Influencia,Sim,Electronics,Laptop,700,"Apple, Dell",Boston,-1.382213,486114.41,697.22
295,297,29,Masculino,58000,4833.33,Bacharelado,2.8,"TikTok, Snapchat",Alguma Influencia,Sim,Home Decor,Curtains,30,"IKEA, Target",Los Angeles,0.293897,486114.41,697.22
296,298,30,Feminino,57000,4750.00,Mestrado,2.7,"Facebook, Instagram",Muito Influenciavel,Sim,Fashion,Sneakers,80,"Nike, Adidas",New York,0.174179,486114.41,697.22
297,299,34,Masculino,70000,5833.33,Bacharelado,2.9,"Instagram, Twitter",Alguma Influencia,Sim,Electronics,Wireless Earbuds,50,"Apple, Sony",Miami,1.730571,486114.41,697.22
298,300,23,Feminino,36000,3000.00,Ensino Medio,4.0,"TikTok, Snapchat",Nao Influenciavel,Nao,N/D,N/D,0,N/D,Seattle,-2.340000,486114.41,697.22

In [106]:
df['Renda_Mensal'].describe()

count     299.000000
mean     4628.762040
std       697.219052
min      3000.000000
25%      4250.000000
50%      4583.330000
75%      5166.670000
max      6666.670000
Name: Renda_Mensal, dtype: float64